<%= form_for(@counteroffer) do |f| %>
  <% if @counteroffer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@counteroffer.errors.count, "error") %> prohibited this counteroffer from being saved:</h2>

      <ul>
      <% @counteroffer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :seller_price %><br>
    <%= f.text_field :seller_price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
